.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  text-align: left;
  margin: 0%;
}


.App-header {
  background-color: #000000;
min-height: 20px;
display: flex;
flex-direction: row;
align-items: right;
text-align: left;
justify-content: left;
font-size: calc(8px + 2vmin); /* Adjust the values to your preference */
color: rgb(0, 0, 0);
}


.App-link {
  color: #0fcff5;
}


ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
ul a{
  color: whitesmoke;
  text-decoration: none;

}
ul img{ padding: 0%;}
ul a:hover {
  color: rgb(111, 109, 112);
}
.nav-bar {
  /* list-style: none; */
  padding: 0;
  /* text-align: left; Align the list items to the left */
}

.nav-item {
  display: inline-block;/* Display list items horizontally*/
  /* margin-right: 10px; Add some spacing between list items if needed */
}

.selected-link{
  color: red;
}


