.App-header2 {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: left;
  justify-content: right;
  font-size: calc(13px + 2vmin);
  color: white;
}
.App-logo2 {
  width: 100px;
  max-height: 10px;
}
.nav-item {
  margin-right: 20px;
}
